<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2.1.CssGrid(N)</title>
    <link rel="stylesheet" href="style.css">
    <style>

    </style>
</head>

<body>
    <main>
        <nav>
            <div class="nav-side">Site Title</div>
            <div class="nav-li">Nav 1</div>
            <div class="nav-li">Nav 2</div>
            <div class="nav-li">Nav 3</div>

        </nav>
        <section>

            <div class="post-title">Post Title</div>
            <div class="post-meta">Post Meta</div>
            <div class="content">Main Content</div>
            <div class="content-image">Main Content Image</div>
            <div class="side-bar">Side Bar</div>
            <div class="ads">Ads</div>
            <div class="stuffs">Other Stuffs</div>
        </section>
        <footer>
            @2018 footer
        </footer>
    </main>
</body>

</html>