<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <style>
        
    </style>
</head>
<body>
    <div class="load">
        <div class="r red"></div>
        <div class="r green"></div>
        <div class="r yellow"></div>
        <div class="r black"></div>
    </div>
</body>
</html>